# NuGet Packages
packages/
*.nupkg

# Build results
[Bb]in/
[Oo]bj/
*.dll
*.pdb
*.cache

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# IIS Express
iisexpress.config

# User-specific files
*.rsuser
*.user