<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.applicationHost>
        <sites>
            <site name="HelloWorldApp" id="1">
                <application path="/" applicationPool="Clr4IntegratedAppPool">
                    <virtualDirectory path="/" physicalPath="C:\Users\Administrator\repositories\windows-sandbox-test-app\HelloWorldApp" />
                </application>
                <bindings>
                    <binding protocol="http" bindingInformation="*:5000:localhost" />
                </bindings>
            </site>
        </sites>
        <applicationPools>
            <add name="Clr4IntegratedAppPool" managedRuntimeVersion="v4.0" managedPipelineMode="Integrated" CLRConfigFile="" passAnonymousToken="true" />
        </applicationPools>
    </system.applicationHost>
</configuration>
